.eclipse {
    position: absolute;
    top: 80px;
    left: 107px;
}

.hero-img {
    width: 177.966px;
}

.hero-img-container {
    position: absolute;
    right: -83px;
    top: 27px;
}


.dots {
    background: url(images/dots.svg);
    width: 93.382px;
    height: 92.945px;
    position: absolute;
    bottom: 0;
}