.svg-container {
    position: absolute;
    top: 80px;
    left: 107px;
}

.hero-img-container {
    position: absolute;
    right: -83px;
    top: 27px;

    .hero-img {
        width: 177.966px;
    }
}


.dots {
    background: url(images/dots.svg);
    width: 93.382px;
    height: 92.945px;
    position: absolute;
    bottom: 0;
    left: 32px;
    background-size: contain;
    background-repeat: no-repeat;
}