*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    width: 375px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    background: $white-1;
    align-items: center;
    overflow-x: hidden;
}

main {
    width: 375px;
}