.section-1 {
    @include section;
}

.intro-h-p {
    display: flex;
    flex-direction: column;
    margin-top: 101px;
    gap: 12.2px;
    flex-shrink: 0;

    h1 {
        width: 255px;
        color: $gray-1;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 116%;
        font-variant: small-caps;
    }

    p {
        width: 240.19px;
        font-size: 10px;
        font-weight: 400;
        line-height: 132%;
        letter-spacing: 0.4px;
        color: $gray-2;
    }
}

.section-2 {
    @include section;
    margin-top: 127px;
    flex-direction: column;
    gap: 16px;
    padding: 0 32px;

    .container-h {
        display: flex;
        margin-left: -197px;
        width: 400px;
        height: 68px;
        align-items: center;
        background: linear-gradient(164deg, rgba(239, 128, 49, 0.00) -335.51%, rgba(239, 128, 49, 0.15) -20.24%, rgba(239, 128, 49, 0.00) 119.45%);

        .padding {
            display: flex;
            flex-direction: column;
            padding-left: 197px;
            gap: 5px;
        }

        h1 {
            color: #647B64;
            font-size: 20px;
            font-weight: 500;
            line-height: 110%;
            text-transform: uppercase;
            width: 206.973px;
            height: 25.105px;
        }

        h2 {
            width: 113.25px;
            height: 18.41px;
            color: #F3B562;
            font-size: 13px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 16px;

        p {
            width: 258px;
            height: 52px;
            color: $gray-2;
            font-size: 10px;
            font-weight: 400;
            line-height: 132%;
            letter-spacing: 0.4px;
        }

        .padding {
            padding-left: 32px;
        }
    }
}

.section-3 {
    @include section;
    flex-direction: column;
    margin-top: 57.5px;
    padding-bottom: 17.5px;
}

.section-3-h {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    align-items: center;
    gap: 10px;

        h1 {
            width: 206.973px;
            height: 25.105px;
            color: #647B64;
            font-size: 20px;
            font-weight: 500;
            line-height: 110%;
            text-transform: uppercase;
        }

        h2 {
            width: 113.25px;
            height: 18.41px;
            color: #F3B562;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            text-transform: uppercase;
        }
}

.code-lang {
    display: flex;
    flex-direction: row;
    gap: 17.45px;
    padding-left: 14px;
    margin-top: 16.49px;
    z-index: 1;

    .container-c {
        width: 157.091px;
        height: 147.491px;
        border-radius: 3.491px;
        background: linear-gradient(358deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0.00) 25.62%, rgba(100, 123, 100, 0.00) 98.53%), #FFF;
        padding: 32px 22px;

        .code-h {
            width: 89.891px;
            height: 13.527px;
            color: $gray-1;
            font-size: 10px;
            font-weight: 500;
            line-height: 116%;
            font-variant: small-caps;
            margin-top: 10.47px;
        }

        p {
            width: 113.455px;
            height: 27.491px;
            color: $gray-2;
            font-size: 8px;
            font-weight: 500;
            line-height: 132%;
            letter-spacing: 0.32px;
            margin-top: 2.62px;
        }
    }

    .container-c:nth-child(2) {
        width: 157.091px;
        height: 147.491px;
        border-radius: 3.491px;
        background: #647B64;  
        @include section-3-card-3
    }
    
    .container-c {
        img {
            width: 27.927px;
            height: 27.927px;
        }
}
}

.section-4 {
    display: flex;
    flex-direction: row;
    padding-top: 94px;
    
    .img-bg {
        background: linear-gradient(198deg, rgba(239, 128, 49, 0.00) -227.37%, rgba(239, 128, 49, 0.15) 1.58%, rgba(239, 128, 49, 0.00) 103.02%);
        position: relative;
        margin-left: -220px;
        
        img {
            position: relative;
            width: 286.234px;
            height: 277.083px;
            bottom: 30.5px;
            left: -30.5px;
        }
    }

    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-left: 20px;
        width: fit-content;
        height: fit-content;
        margin-top: 38px;

        p {
            width: 258px;
            height: 52px;
            color: $gray-2;
            font-size: 10px;
            font-weight: 400;
            line-height: 132%;
            letter-spacing: 0.4px;
        }
    }

    .container-h {
        display: flex;

        .padding {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        h1 {
            color: #647B64;
            font-size: 20px;
            font-weight: 500;
            line-height: 110%;
            text-transform: uppercase;
            width: 206.973px;
            height: 25.105px;
        }

        h2 {
            width: 113.25px;
            height: 18.41px;
            color: #F3B562;
            font-size: 13px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}

.section-5 {
    padding-left: 35px;
    margin-top: 48.4px;
    padding-bottom: 65px;

    .container-h {
        display: inline-flex;
        flex-direction: column;
        gap: 8px;

        h1 {
            color: #647B64;
            font-size: 22px;
            font-weight: 500;
            line-height: 110%;
            text-transform: uppercase;
        }

        h2 {
            width: 113.25px;
            height: 18.41px;
            color: #F3B562;
            font-size: 13px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}

div.people {
    display: flex;
    gap: 26px;
    margin-top: 50px;

    .item-container {
        background: linear-gradient(358deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0.00) 25.62%, rgba(100, 123, 100, 0.00) 98.53%), #FFF;
        padding: 21px 16px 21px 26px;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 233.379px;
        height: 271.628px;

        .name-container {
            position: absolute;
            width: fit-content;
            align-self: flex-end;
            margin-top: 11px;
        }

        h1.duty {
            color: $gray-1;
            font-size: 12px;
            font-weight: 500;
            line-height: 116%;
            font-variant: small-caps;
        }

        h2.name {
            color: $gray-2;
            font-size: 10px;
            font-weight: 400;
            line-height: 132%;
            font-variant: small-caps;
            letter-spacing: 0.4px;
        }

        p.quote {
            width: 191px;
            height: 41px;
            margin-top: 15.3px;
            color: $gray-2;
            font-size: 12px;
            font-style: italic;
            font-weight: 400;
            line-height: 132%;
            letter-spacing: 0.48px;
        }
    }
}

.people-img {
    width: 99.076px;
    height: 173.738px;
    background-size: cover;
    background-repeat: no-repeat;
}

.item-container:nth-child(1) .people-img {
    background-image: url('images/r.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  
 .item-container:nth-child(2) .people-img {
    background-image: url('images/women.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  
.item-container:nth-child(3) .people-img {
    background-image: url('images/philip.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
.item-container:nth-child(4) .people-img {
    background-image: url('images/women-desktop.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  footer {
    background: #F0DCC5;
    padding: 40px 47px 40px 32px;
    width: 375px;
    
    .socials {
        display: flex;
        gap: 16px;
        margin-top: 11px;
        .socials-bg {
            display: flex;
            background: url(images/BG.svg);
            background-size: contain;
            background-repeat: no-repeat;
            width: 32px;
            height: 32px;
            justify-content: center;
            align-items: center;
        }

        .socials-icon {
            display: flex;
            width: 32px;
            height: 32px;
        }
    }
  }

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: fit-content;

    .footer-logo {
        width: 185px;
    }
    p {
        width: 249px;
        color: $gray-2;
        font-size: 14px;
        font-weight: 400;
        line-height: 132%;
        letter-spacing: 0.56px;
    }

    p:nth-child(-n+3) {
        padding-top: 8px;
    }
}

.footer-links {
    display: flex;
    width: 270px;
    justify-content: space-between;
    margin-top: 40px;

    h1 {
        color: #647B64;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 24px;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
        color: $gray-1;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }
}

.message {
    display: flex;
    flex-direction: column;
    width: 283px;
    gap: 13px;
    margin-top: 40px;

    label {
        color: #647B64;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
    }

    textarea {
        display: flex;
        width: 283px;
        height: 113px;
        background: $white-1;
        border-radius: 2px;
        border: none;
        padding: 12px 24px;
        color: $gray-2;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        resize: none;
        outline: none;
    }
}

div.bg-blur-1 {
    width: 122.345px;
    height: 123.305px;
    background: #F3B562;
    filter: blur(200px);
    position: absolute;
    top: 75px;
    left: 3px;
}

div.bg-blur-2 {
    width: 122.345px;
    height: 123.305px;
    background: #D16035;
    filter: blur(200px);
    position: absolute;
    top: 75px;
    right: 0.3px;
}
div.bg-blur-3 {
    width: 122.345px;
    height: 123.305px;
    background: #EFDCC6;
    filter: blur(250px);
    position: absolute;
    top: 305px;
    left: 3px;
}

div.bg-blur-4 {
    width: 122.345px;
    height: 123.305px;
    background: #627964;
    filter: blur(250px);
    position: absolute;
    top: 305px;
    right: 0.3px;
}
